.deck {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 20px;
    /* background: url(../img/cards.png) no-repeat; */
}

.single-card {
    display: inline-block;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 20px;
    /* background: url(../img/cards.png) no-repeat; */
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background: url(../img/cards.png) no-repeat; */
}
