{# templates/lucky_number.html.twig #}

{% include 'base.html.twig' %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>Kortspel</h2>
        <ul>
            {# <li>
                <a href="{{ url(" index") }}">Index</a>,
            </li>
            <li>
                <a href="{{ path(" about") }}">About</a>,
            </li>
            <li>
                <a href="{{ path(" report") }}">Report</a>,
            </li>
            <li>
                <a href="{{ path(" card") }}">Card</a>
            </li>
        </ul> #}
    </div>


    {% include 'footer.twig' %}
</body>